<table>
    <thead>
    <tr>
        <th>{{ lorem(5, 'words') }}</th>
        <th>{{ lorem(5, 'words') }}</th>
        <th>{{ lorem(5, 'words') }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ lorem(5, 'words') }}</td>
        <td>{{ lorem(5, 'words') }}</td>
        <td>{{ lorem(5, 'words') }}</td>
    </tr>
    <tr>
        <td>{{ lorem(5, 'words') }}</td>
        <td>{{ lorem(5, 'words') }}</td>
        <td>{{ lorem(5, 'words') }}</td>
    </tr>
    <tr>
        <td>{{ lorem(5, 'words') }}</td>
        <td>{{ lorem(5, 'words') }}</td>
        <td>{{ lorem(5, 'words') }}</td>
    </tr>
    </tbody>
</table>
